<aside>
    <div class="aside_game_options">
        <p class="aside_menu_name">MENU</p>
        <button  class="aside_available_option" id="backToLevelPageAside">
            <img class="aside_lord_of_the_rings_button_img" src="/img/lord_of_the_rings.jpg">
            <p class="aside_available_option_name">LORD OF THE RINGS</p>
        </button>
        <div class="aside_non_available_option">
            <div class="overlay_aside"></div>
              <img class="aside_fifa_button_img" src="/img/fifa.jpg">
              <p class="aside_non_available_option_name">FIFA</p>
          </div>
          <div class="aside_non_available_option">
              <div class="overlay_aside"></div>
              <img class="aside_lego_minifigs_ordenen_button_img" src="/img/lego_minifigs_ordenen.png">
              <p class="aside_non_available_option_name">LEGO MINIGIGS</p>
          </div>
          <div class="aside_non_available_option">
              <div class="overlay_aside"></div>
              <img class="aside_fortnite_button_img" src="/img/fortnite.jpg">
              <p class="aside_non_available_option_name">FORTNITE</p>
          </div>
    </div>
</aside>


</body>

</html>