<header>
<div class="header">
    <button class="back_button" id="backButton"><img class="back_pijl" src="/img/left_pijl.png"></button>
    <img class="header_logo"src="/img/logo.png">
    <button id="goToCoins" class="coins">
        <p id="cijfer_coins"><%=coins%></p>
        <img class="coins_image" src="/img/imag_coins.png"/>
    </button>
</div>
</div>
<div class="sub_header">
    <%- subHeader %>
</div>
</header>