<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <meta name="application-name" content="Quiz Developer">
    <meta name="description" content="Quiz Developer">
    <meta name="keywords" content="Quiz Developer, Lord of the rings">
    <meta name="author" content="Ismat Faizi, Nicolas Bruyninckx, Brent Joosens">
    <meta name="date" content="2021-02-03">
    <meta name="time" content="18:00:33">
    <title>Qiuz_Developer</title> 
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <%- extraHeadLinks %>
</head>

    

