<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="level_div">
            <div>
                <p class="p1_level">Level 1</p>
                <p class="p2_level">Vragen: 10</p>
            </div>
           <button class="button_level" id="level1">START</button>
        </div>
        <div class="level_div">
            <div>
                <p class="p1_level">Level 2</p>
                <p class="p2_level">Vragen: 10</p>
            </div>
            <button class="button_level" id="level2">START</button>
        </div>
        <div class="level_div">
            <div>
                <p class="p1_level">Level 3</p>
                <p class="p2_level">Vragen: 10</p>
            </div>
            <button class="button_level" id="level3">START</button>
        </div>
        <div class="level_div">
            <div>
                <p class="p1_level">Level 4</p>
                <p class="p2_level">Vragen: 10</p>
            </div>
           <button class="button_level" id="level4">START</button>
        </div>
        <div class="level_div">
            <div>
                <p class="p1_level">Level 5</p>
                <p class="p2_level">Vragen: 10</p>
            </div>
            <button class="button_level" id="level5">START</button>
        </div>
    </main>
    
    <%- include('partials/aside') %>
