<%- include('partials/head') %>
<body class="coin_info_page">
    <%- include('partials/header') %>

    <main>
        <div class="info_div">
            <h1 class="info_heading">Info:</h1>
            <p class="info_p">Quiz_Developer is een schoolopdracht van AP-Hogeschool in de richting graduaat programmeren.
                Wij zitten in het eerste jaar en maken dit voor IT-Project. Het is een quiz spel dat over Lord Of The Rings gaat.
                Deze applicatie is gemaakt met een educatief doeleind en is dus niet helemaal afgewerkt.
                De designers van deze applicatie zijn Nicolas Bruyninckx, Ismat Faizi en Brent Joosens.</p>
        </div>
        <div class="info_div">
            <h1 class="info_heading">Privacy:</h1>
            <p class="info_p">Curabitur a feugiat elit. Morbi eget arcu ac odio hendrerit vestibulum id nec enim. S'ed quam ligula.
                Curabitur a feugiat elit. Morbi eget arcu ac odio hendrerit vestibulum id nec enim. S'ed quam ligula.
            </p>
        </div>
    </main>

    <%- include('partials/aside') %>